body {
    background-color: #86c5da;
}

h1
{
    color: black;
}

.login{
    text-align: center;
}

.signup{
    text-align: center;
}

.navbar{
  alignment: right;
}

.tableAzure{
    border:2px solid black;
    margin-left:auto;
    margin-right:auto;
    background-color: azure;
    width:750px;
    table-layout:fixed;
}
.table{
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}

.white {
    background-color: #333;
    color: white;
}

.theadGreen{
    background-color: darkseagreen;
}
.theadGrey{
    background-color: #cccccc;
}
.tbodyGreen{
    background-color: darkseagreen;
}
.tbodyWhite{
    background-color: white;
}

.theadRed{
    background-color: red;
    color: white;
    font-weight: bold;

}


.theadYellow{
    background-color: yellow;
}

.tableGreen{
    border:2px solid black;
    margin-left:auto;
    margin-right:auto;
    width:750px;
    table-layout:fixed;
    background-color: darkseagreen;
}

td {
    word-wrap:break-word;
}

.button{
    height:75px;
    width:150px;
    background-color: cadetblue;
}
.buttonGreen{
    height:75px;
    width:150px;
    background-color: green;
}
.buttonRed{
    height:75px;
    width:150px;
    background-color: red;
    color: white;
}

.buttonIndex{
    height:50px;
    width:200px;
    background-color: cadetblue;
}

.inner
{
    display: inline;
}

.cyanText{
    color: darkcyan;
    font-size: 20px;
}

.buttonEmployee{
    background-color: firebrick;
    color: white;
    height:75px;
    width:250px;
}


